@font-face {
  font-family: NimbusSansL;
  src: url("/fonts/NimbusSanL-Bol.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: NimbusSansL;
  src: url("/fonts/NimbusSanL-Reg.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NimbusSansL;
  src: url("/fonts/NimbusSanL-RegIta.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

